:root {
  --color2: #2272a2;
}

body > header {
  background-color: #f4f5f6;
  padding: 6rem 0;
  margin-bottom: 4rem;
}

.icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  stroke: currentColor;
  stroke-width: 0;
  vertical-align: -14%;
  width: 1em;
}

header .button + .button {
  margin-left: 0.5rem;
}

header .button {
  font-size: 1.3rem;
  padding: 0 2rem;
}

header .button .icon {
  height: 1.6em;
  margin-right: 0.25rem;
  width: 1.6em;
}
