:root {
  --color-bg-dim: #f4f5f6;
  --color-bg-light: #fcfcfc;
  --color-accent: #33aa88;
  --color-dim: #999999;
  --color-light: #cccccc;
  --color-text: #444444;
  --padding-v: 6rem;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: var(--color-bg-light);
  color: var(--color-text);
  font-family: 'Roboto', 'Helvetica Neue', 'DejaVu Sans', 'Helvetica', 'Arial', sans-serif;
  font-size: 1.6em;
  font-weight: 300;
  letter-spacing: .01em;
  line-height: 1.5;
  margin: 0;
  text-rendering: optimizeLegibility;
}

.section {
  padding: var(--padding-v) 0;
}

.section:nth-child(odd) {
  background-color: var(--color-bg-dim);
}

.container {
  margin: 0 auto;
  max-width: 100rem;
  padding: 0 2rem;
}

.row {
  display: flex;
  gap: 2rem 4rem;
}

.row--collapse {
  flex-direction: column;
}

@media (min-width: 48rem) {
  .row--collapse {
    flex-direction: row;
  }
}

.row--space-evenly {
  justify-content: space-evenly;
}

a {
  color: var(--color-accent);
  font-weight: 400;
  text-decoration: none;
}

a:focus,
a:hover {
  color: var(--color-text);
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 0 0 1.5rem 0;
  padding: 0;
}

ol,
ul {
  margin: 0 0 0 1.5rem;
  padding: 0;
  text-indent: -1em;
}

ol {
  list-style: decimal inside;
}

ul {
  list-style: circle inside;
}

ol ol,
ol ul,
ul ol,
ul ul {
  font-size: 90%;
  padding: 1.5rem 0 0.75rem 0;
}

li {
  margin-bottom: 0.75rem;
}

.icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  stroke: currentColor;
  stroke-width: 0;
  vertical-align: -14%;
  width: 1em;
}

.button {
  background-color: var(--color-accent);
  border-radius: 0.25rem;
  color: #ffffff;
  display: inline-block;
  font-size: 1.375rem;
  font-weight: 700;
  height: 3.8rem;
  letter-spacing: .1rem;
  line-height: 4rem;
  margin: 0;
  padding: 0 2rem;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.button:focus,
.button:hover {
  background-color: #666666;
  color: #ffffff;
  text-decoration: none;
}

.button .icon {
  height: 1.6em;
  margin-right: 0.5rem;
  width: 1.6em;
}

.hero-inner {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.hero .row {
  gap: 3rem;
}

.logo {
  height: auto;
  width: 14rem;
}

.hero-title {
  color: #666666;
  font-size: 4.5rem;
  font-weight: 300;
  margin: -1.5rem 0 -1.5rem -0.25rem;
}

.hero-body {
  max-width: 68ch;
}

.hero-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

h2 {
  color: #666666;
  font-size: 3.375rem;
  font-weight: 300;
  margin: 0 0 3rem 0;
  padding: 0;
}

.block-centered {
  display: grid;
  justify-content: center;
}

.text-centered {
  text-align: center;
}

.text-right {
  text-align: right;
}

blockquote .quote {
  color: var(--color-accent);
  font-size: 2.5rem;
}

blockquote .quote::before,
blockquote .quote::after {
  color: var(--color-dim);
}

blockquote .quote::before {
  content: '\201c';
}

blockquote .quote::after {
  content: '\201d';
}

blockquote .quote-attribution {
  color: var(--color-dim);
}

.contributors img {
  display: block;
  margin: 0 auto;
}

.bignumber {
  color: var(--color-accent);
  font-size: 2.5rem;
  font-weight: 400;
}

.bignumber-caption {
  color: var(--color-dim);
}

.bignumber-extra {
  margin-top: 1rem;
}

.screenshots {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, 200px);
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.screenshots a {
  display: block;
  box-shadow: 0 0 2px 1px var(--color-light);
  border-radius: 5px;
  overflow: hidden;
}

.screenshots a:hover {
  box-shadow: 0 0 2px 1px var(--color-accent);
}

.screenshots img {
  display: block;
  height: 200px;
  object-fit: cover;
  width: 200px;
}
